
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
.circ{
      width: 1rem;
      height: 1rem;
      background: #3498db;
      border-radius: 50%;
     
    }

  
    

}

body::-webkit-scrollbar{
  display: none;
}

@media only screen and (max-width:426px) {




}


